/**
*
* {{ properCase name }}
*
*/

import React, { {{{ type }}} } from 'react';

class {{ properCase name }} extends {{{ type }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>
        {{ properCase name }} {{{ type }}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};